<div class="row">
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="logout()">Logout</button>
  </div>
</div>

<h1>Lista de Usários</h1>

<hr />

<div class="row">
  <div class="col-lg-12">

    <table class="table table-borderless">

      <th>Nome</th>
      <th>Email</th>
      <th>Detalhes</th>
      <th> Deletar </th>

      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><a href="" class="btn btn-link">ver mais</a></td>
        <td> <button type="button" class="btn btn-danger" (click)="delete(user.id)"> excluir </button></td>
      </tr>

    </table>

  </div>
</div>